body {
    background-color: #4b4545;
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #8ab4f8;
}

header, footer {
    background-color: #262129;
    color: #cccccc;
}

button, input, textarea {
    background-color: #2c2c2c;
    color: #f0f0f0;
    border: 1px solid #444;
}

hr {
    border-color: #333;
}


.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #150357;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

input[name="q"] {
  width: 300px;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 25px 0 0 25px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

input[name="q"]:focus {
  border-color: #4285f4;
  box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #4285f4;
  background-color: #4285f4;
  color: white;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #000000;
}
